<!doctype>
<html>
<head>
<title> Surfboards </title>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <h1>Awesome surfboards</h1>

  <h2>List your surfboard</h2>

  <form action="/success/" method="post">
Model: <input type="text" name="n_model"><br />
Size: <input type="text" name="n_size"><br />
Shaper: <input type="text" name="n_shaper"><br />
Fin Number: <input type="text" name="n_fin_number"><br />
Fin System: <input type="text" name="n_fin_systeme"><br />
<br />
<input type="submit" value="Submit your Surboard">
</form>	

 <h2>Delete your surfboard(type in model name)</h2>

  <form action="/delete/" method="post">
Modelname: <input type="text" name="d_model"><br />

<br />
<input type="submit" value="Delete your Surboard">
</form>	

<h2>All Surfboards:</h2>
<%  @all = Surfboard.all %>
<%  @all.each do | board |  %>
<%= board.model %> <br /> 
<% end %>




</body>

</html>

