
<h1>Awesome surfboards</h1>

<h2>All Surfboards:</h2>
<%  @all = Surfboard.all %>
<%  @all.each do | board |  %>
<%= board.model %> <br /> 
<% end %>


<h2>Update your surfboard(type in model name)</h2>

<form action="/update/" method="post">
	Modelname you would like to replace: <input type="text" name="u_model"><br />
	<input type=hidden name=_method value=put>
	Replace with: <input type="text" name="new_model">
	<br />
	<input type="submit" value="Update your Surboard">
</form>	







