<!doctype>
<html>
<head>
	<title> Surfboards </title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header>	
		<nav>
			<ul>
				<li>Home</li>
				<li>Update</li>
				<li>Add</li>
				<li>Delete</li>
			</ul>	
		</nav>	
	</header>

	<%= yield %>

	<br />
	<a href="/">Back to the home page</a>


</body>

</html>